<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup> 
	    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="WorkFolder" value="" />
		<add key="PublicKey" value="" />
		<add key="PrivateKey" value="" />
		<add key="SourceName" value="AppDKCipherSource" />
		<add key="LogName" value="AppDKCipherLog" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />

	</appSettings>
	<system.diagnostics>
		<switches>
			<!-- You can set the level to one of the following: 0-Off, 1-Error, 2-Warning, 3-Info, 4-Verbose -->
			<add name="MySwitch" value="4" />
		</switches>
	</system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>